<main>	
	<section id="burger-form">
		<form>
			<div class="form-group">
				<label for="burger-name">Enter a burger name</label>
				<input type="text" id="burger-name" name="name">
				<button type="submit" id="submit-button">Submit</button>
			</div>
		</form>
	</section>

	<section>
		<ul>
			{{#each burger}}
			{{/each}}
		</ul>
	</section>

	<section id="eaten">
		<ul>
			{{#each burger}}
			{{/each}}
		</ul>
	</section>

</main>